* {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 500px;
}

h1 {
    color:red;
}

.container {
    margin-top: 20px;
    text-align: center;
}

.border {
    border: 1px solid black;
    margin: 20px 0;
}